@{
    ViewBag.Title = "Index";
}

@using NetNix.Models

@model DirectorDetailsModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.name</title>
</head>
<body>
    <br />
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <h2>@Model.name</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <h4>Date of birth: @Model.dateOfBirth.ToString("dd.MM.yyyy")</h4>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

