@{
    ViewBag.Title = "Home Page";
}

@using NetNix.Models;

@model HomeViewModel

<div class="jumbotron">
    <h1>NetNix</h1>
</div>

<h1>Top 5 soon to be released movies</h1>
<br />

<div class="row">

    @foreach (var movie in Model.movieList)
    {
        <div class="col-md-12">
            <p><a href="@Url.Action("Index", "Movie", new { id = movie.id, directorId = movie.director.id})" class="btn btn-primary btn-lg" style="background-color:darkgrey; width:100%">@movie.name</a></p>
        </div>
        @Html.Hidden(movie.director.id)
    }
</div>
